:root {
  --clr-yellow: 47 88% 63%;
  --clr-grey: 0 0% 50%;
  --clr-black: 0 0% 7%;

  font-family: 'Figtree', Avenir, Montserrat, Corbel, 'URW Gothic',
    source-sans-pro, sans-serif;
  font-weight: 600;
}

body {
  background-color: hsl(var(--clr-yellow));
  color: hsl(var(--clr-black));
}
